doctype html
html
  head
    title Voting results for world peace
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
  body
  script.
    if (!!window.EventSource) {
      var source = new EventSource('/stream')

      source.addEventListener('message', function(e) {
        //votes = JSON.parse(e.data)
        //$("#votes").text("Yes: " + votes.yes + ", No: " + votes.no)
        //toastr.options.onclick = function() { alert('clicked'); }
        toastr.options = {
            timeOut: 0,
            extendedTimeOut: 0,
            onclick: function() { alert('clicked'); }
        };
        toastr.info('¡LogiFaq necesita ayuda!')
      }, false)

      source.addEventListener('open', function(e) {
        $("#state").text("Connected")
      }, false)

      source.addEventListener('error', function(e) {
        if (e.target.readyState == EventSource.CLOSED) {
          $("#state").text("Disconnected")
        }
        else if (e.target.readyState == EventSource.CONNECTING) {
          $("#state").text("Connecting...")
        }
      }, false)
    } else {
      console.log("Your browser doesn't support SSE")
    }
